.menu{
	margin:0 auto; 
	padding:0; 
	height:30px; 
	width:100%; 
	display:block; 
	background:url("images/topMenuImages.png") repeat-x;
	}
	
.menu li{
	padding:0; 
	margin:0; 
	list-style:none; 
	display:inline;
	}
	
.menu li a{
	float:left; 
	padding-left:15px; 
	display:block; 
	color:rgb(255,255,255); 
	text-decoration:none; 
	font:12px Verdana, Arial, Helvetica, sans-serif; 
	cursor:pointer; 
	background:url("images/topMenuImages.png") 0px -30px no-repeat; 
	outline:none;
	}
	
.menu li a span{
	line-height:30px; 
	float:left; 
	display:block; 
	padding-right:15px; 
	background:url("mages/topMenuImages.png") 100% -30px no-repeat;
	}
	
.menu li a:hover{
	background-position:0px -60px; 
	color:rgb(255,255,255);
	}
	
.menu li a:hover span{
	background-position:100% -60px;
	}
	
.menu li a.active, .menu li a.active:hover{
	line-height:30px; 
	font:12px Verdana, Arial, Helvetica, sans-serif; 
	background:url("images/topMenuImages.png") 0px -90px no-repeat; 
	color:rgb(255,255,255);
	}
	
.menu li a.active span, .menu li a.active:hover span{
	background:url("images/topMenuImages.png") 100% -90px no-repeat;
	}
	
a {
	color: #3A4856; 
	text-decoration: none; 
	border-bottom: 1px solid #C6C8CB;
	}  

a:visited {
	color: #777;
	}

a:hover {
	color: #000;
	}  
	
.footer {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
	font-size:10px;
	text-align:center;
	}
	
body{
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
	font-size:12px;
	margin-left: 10px; 
	margin-top: 15px;
	margin-bottom: 10px; 
	margin-right: 10px;	
	}

table {
	font: 100% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
	padding: 0; 
	margin: 0; 
	border-collapse: collapse; 
	color: #333; 
	background: #F3F5F7;
	}

a {
	color: #3A4856; 
	text-decoration: none; 
	border-bottom: 1px solid #C6C8CB;
	}  

a:visited {
	color: #777;
	}

a:hover {
	color: #000;
	}  

table caption {
	text-align: left; 
	text-transform: uppercase;  
	padding-bottom: 10px; 
	font: 200% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
	}

table thead th {
	background: #3A4856; 
	padding: 5px 20px; 
	color: #fff; 
	text-align: center;
	font-weight: normal;
	}

table tbody, table thead {
	border-left: 1px solid #EAECEE; 
	border-right: 1px solid #EAECEE;
	}

table tbody {
	border-bottom: 1px solid #EAECEE;
	}
                      
table tbody td, table tbody th {
	padding: 10px; 
	background: url("images/td_back.gif") repeat-x; 
	text-align: center;
	}

table tbody tr {
	background: #F3F5F7;
	}

table tbody tr.odd {
	background: #F0F2F4;
	}

table tbody  tr:hover {
	background: #EAECEE; 
	color: #111;
	}

table tfoot td, table tfoot th, table tfoot tr {
	text-align: left; 
	font: 120%  "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif; 
	text-transform: uppercase; 
	background: #fff; 
	padding: 10px;
	}
	
p, h1, form, button{
	border:0; margin:0; padding:0;
	}
	
.spacer{
	clear:both; height:1px;
	}

/* ----------- My Form ----------- */
.myform{
width:400px;
padding:14px;
}

/* ----------- stylized ----------- */
#stylized{
border:solid 2px #b7ddf2;
background:#ebf4fb;
}

#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}

#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}

#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}

#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}

#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 10px 10px;
}

#stylized textarea{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 10px 10px;
}

#stylized select{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 10px 10px;
}

#stylized button{
clear:both;
margin-left:150px;
width:75px;
height:25px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:25px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}

/* ----------- My Form In Table ----------- */
td .myform{
width:300px;
padding:0px;
}

/* ----------- stylized ----------- */
td #stylized{
border:none;
background:none;
}


td #stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}

td #stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}

td #stylized label{
display:block;
font-weight:bold;
font-size:11px;
text-align:right;
width:70px;
float:left;
}

td #stylized input{
float:left;
font-size:12px;
padding:0px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 5px 10px;
}

td #stylized select{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 5px 10px;
}

td #stylized button{
clear:both;
margin-left:-60px;
width:75px;
height:20px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
align:center;
line-height:20px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}

.error {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
color: #D8000C;
background-color: #FFBABA;
background-image: url('images/error.png');
}